<div style="padding: 0 0.5rem;">
  <fluentui-horizontal-scroll
    [slidesPerView]="5"
    [spaceBetween]="8"
    [slidePerGroup]="true"
    (toNext)="toNext()"
    (toPrevious)="toPrevious()">
    <ng-container *ngFor="let classification of classifications;">
      <ng-container *fluentuiScrollItem>
        <div class="color-box" [style]="'background-color:' + classification.color">
          {{ classification.label }}
        </div>
      </ng-container>
    </ng-container>
  </fluentui-horizontal-scroll>
  <fluentui-horizontal-scroll
    #secondaryScroll
    [slidesPerView]="5"
    [spaceBetween]="8"
    [slidePerGroup]="true">
    <ng-container *ngFor="let classification of classifications;">
      <ng-container *fluentuiScrollItem>
        <div class="color-box" [style]="'background-color:' + classification.color">
          {{ classification.label }}
        </div>
      </ng-container>
    </ng-container>
  </fluentui-horizontal-scroll>
</div>