.color-box {
  position: relative;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 2.8125em;
  justify-content: center;
}